<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CamisetasNBA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="allProducts">Todos los productos</a>
              <a class="dropdown-item" href="addProduct">Agregar producto</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div id="rows" class="row">
  <div id="main" class="col-sm-6">
    <div id="row1" class="row">
      <div class="col-12">
        <h3 class="mt-2 mb-4 a" style="color: black;">Tenemos camisetas de jugadores legendarios</h3>
      </div>
      <div id="sech" class="col-sm-6">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div id="item" class="carousel-item active" data-bs-interval="3250">
              <img id="img1" src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/120AB/production/_95999837_gettyimages-3237280.jpg.webp" class="d-block w-1000" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3250">
              <img id="img1" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Anthony_Davis_pre-game_%28cropped%29.jpg" class="d-block w-1000" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3250">
              <img id="img1" src="https://ca-times.brightspotcdn.com/dims4/default/52bc7f3/2147483647/strip/true/crop/3408x4260+0+0/resize/1200x1500!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F2b%2F54%2Fd21d95eabe8cd78598ce9c4eb541%2F72649073068e4b959e350b968445b2bb" class="d-block w-1000" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div id="divv">
      <div id="row1" class="row">
        <div class="col-12">
          <h3 class="mt-2 mb-4 a" style="color: black;">Nuestras camisetas:</h3>
        </div>
        <div class="col-sm-4">
          <div id="ola1">
            <a class="card-size" style="width: 18rem;  background-color:  rgb(15, 15, 15);">
              <div class="image-box">
                <img id="cards" src="https://camisetasfutbolmania.com/5297-large_default/camiseta-nba-anthony-davis-los-angeles-lakers-amarilla-2019-2020.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">

                <h5 id="cards" class="card-title-color">Anthony Davis</h5>
                <p class="card-text-color">Valor: $40.000</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div id="ola1">
            <div class="card-size" style="width: 18rem;  background-color:  rgb(15, 15, 15);">
              <div class="image-box">
                <img id="cards" src="https://cdnx.jumpseller.com/solobasquet-chile1/image/35028398/resize/610/610?1683680628" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                  <h5 class="card-title-color">Luka Dončić</h5>
                <p class="card-text-color">$40.000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div id="ola1">
            <div class="card-size" style="width: 18rem;  background-color:  rgb(15, 15, 15);">
              <div class="image-box">
                <img id="cards" src="https://images.footballfanatics.com/miami-heat/miami-heat-jordan-statement-edition-swingman-jersey-red-jimmy-butler-unisex_ss4_p-13365072+u-gippfentzzpnbqqfu1dl+v-bac1e1f715ff493abc2ec2007811c3f2.jpg?_hv=2&w=600" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                  <h5 class="card-title-color">Jimmy Butler</h5>
                <p class="card-text-color">$30.000</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="row1" class="row">
        <div class="col-sm-4">
          <div id="ola1">
            <div class="card-size" style="width: 18rem;  background-color:  rgb(15, 15, 15);">
              <div class="image-box">
                <img id="cards" src="https://images.footballfanatics.com/los-angeles-lakers/los-angeles-lakers-shaquille-oneil-1996-hardwood-classics-road-swingman-jersey-by-mitchell-and-ness-light-gold-mens_ss4_p-12012871+u-kq218xz5otbv9j84j9t9+v-6e33ffed8830478ab50b1d1387a7e6db.jpg?_hv=2&w=600" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                  <h5 class="card-title-color">Shaquille O´neal</h5>
                <p class="card-text-color">$20.000</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>