<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CamisetasNBA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="addProduct">Agregar producto</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cuenta">Mi cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Carrito">Carro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesi칩n</a>
          </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div id="rows" class="row">
  <div id="main" class="col-sm-4">
    <div class="container">
      <div id="box-cuenta" class="box">

       
        <h1>
           <div id="nameForm">
            Cuenta
          </div>
        </h1>
        <div id="atributosCuenta">

          <div class="mb-3">
            <div id="wallet">
              <div id="wallets">

              <h1 id="walletIcon" class="bi-wallet2"></h1>
             <h3>
                Billetera:
             </h3>
               <h3 id="dineroWallet">
                ${{wallet}}
             </h3>
              </div>
             <div id="a침adirDinero">
              <a href="/wallet">
                  <button  type="submit" class="btn btn-outline-light">Sumar dinero </button>
              </a>
            
             </div>
             <div id="wallets">

              <h1 class=" bi-receipt"></h1>
             <h3>
                Recibos:
             </h3>
               
              </div>
             <div id="a침adirDinero">
              <a href="/recibos">
                  <button  type="submit" class="btn btn-outline-light">Recibos</button>
              </a>
            
             </div>
       
           
            </div>
           
       
          </div>
        <form id="logout" method="GET" action="logout">
           <button type="submit" class="btn btn-outline-danger">Cerrar sesi칩n</button>
        </form>
         
        </div>
       
      </div>
    </div>

    <div id="divv"></div>
  </div>
</div>