<div class="container">
    <div class="row justify-content-center"> <!-- Centra la fila horizontalmente -->
        <div class="col-sm-6">
            <form>
                <div id="aweonao">
                    <div class="mb-3">
                        <label id="maraca" for="exampleInputEmail1" class="form-label">Direccion de correo
                            electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Nunca compartiremos tu correo con nadie.</div>
                    </div>
                    <div class="mb-3">
                        <label id="maraca" for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label id="wena" class="form-check-label" for="exampleCheck1">Guardar datos de inicio de
                            sesión</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
<p class="text-center">¿No tienes una cuenta? <a href="signup" class="text-info">Registrarse</a></p>
</div>
</div>
</div>