body {
    background: #bdbbbb !important;
  }
  
  .logo {
    width: 30% !important;
  }
  
  .bg-black {
    background: #bdbbbb !important;
  }
  #cuadrodemierda {
    padding-bottom: 50px !important;
  }
  