<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CamisetasNBA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="addProduct">Agregar producto</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cuenta">Mi cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Carrito">Carro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div id="rows" class="row">
  <div id="main" class="col-sm-4">
    <div  class="container">
      <div id="cuadrodemierda" class="box">



        <form id="form1" action="addProduct" method="POST">
          <div id="addproductform">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
              <input type="text" class="form-control" name="productName">

            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Precio del producto</label>
              <input type="number" class="form-control" name="price">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Descripcion del producto</label>
              <input type="text" class="form-control" name="description">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Stock</label>
              <input type="number" class="form-control" name="stock">
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">URL de imagen del producto</label>
              <input type="text" class="form-control" name="image">

            </div>
            <button type="submit" class="btn btn-outline-light">Crear nuevo producto</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

