<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CamisetasNBA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/addProduct">Agregar producto</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cuenta">Mi cuenta</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/Carrito">Carro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrarse</a>
          </li>
        {{/if}}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form action="/login" method="POST"> 
        <div id="aweonao">
          <div class="mb-3">
            <label id="maraca" for="email" class="form-label">Dirección de correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu correo con nadie.</div>
          </div>
          <div class="mb-3">
            <label id="maraca" for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label id="wena" class="form-check-label" for="exampleCheck1">Guardar datos de inicio de sesión</label>
          </div>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
<p class="text-center">¿No tienes una cuenta? <a href="/signup" class="text-info">Registrarse</a></p>

