<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CamisetasNBA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="addProduct">Agregar producto</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cuenta">Mi cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Carrito">Carro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
      <div id="box-cuenta" class="box">

       
        <h1>
           <div id="nameForm">
            Agregar dinero al Wallet
          </div>
        </h1>
        <div id="atributosCuenta">

      <form action="addWallet" method="POST">
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Dinero a agregar</label>
              <input type="Number" class="form-control" name="wallet">
            </div>
          <button id="botonAgregarDinero" type="submit" class="btn btn-outline-light">Agregar dinero</button>
      </form>
     
        </div>
       
      </div>
    </div>